<menu></menu>

<div class="sub-section-container">

  <div class="title">
    Payments Exclude List
  </div>

  <div class="body extra-margin-bottom title-container">
    Exclude the following from <b>Payments Chart:</b>
  </div>

  <div class="body margin-bottom" *ngFor="let item of data?.paymentsExcludeList">
    {{item}}
    <img class="delete-icon" src="assets/images/close.svg" (click)="removeFromPaymentsExcludeList(item)">
  </div>

  <div class="body" *ngIf="!data?.paymentsExcludeList?.length">
    No Payments Added
  </div>

  <textarea class="payments-textarea" id="paymentsExcludeTextArea" rows="2" cols="50" placeholder="Example: Wallet of Satoshi"></textarea><br>

  <button (click)="addToPaymentsExcludeList()" type="button" class="add-item-button">
    Add Payment
  </button>

  <div class="body button-helper-container">
    Paste the text from the "Notes" column of the bos payments report.
  </div>

</div>
