<menu></menu>

<div class="sub-section-container">

  <div class="title">
    Keysends Exclude List
  </div>

  <div class="body extra-margin-bottom title-container">
    Exclude the following from <b>Keysends Chart:</b>
  </div>

  <div class="body margin-bottom" *ngFor="let item of data?.keysendsExcludeList">
    {{item}}
    <img class="delete-icon" src="assets/images/close.svg" (click)="removeFromKeysendsExcludeList(item)">
  </div>

  <div class="body" *ngIf="!data?.keysendsExcludeList?.length">
    No Keysends Added
  </div>

  <textarea class="keysend-textarea" id="keysendsExcludeTextArea" rows="2" cols="50" placeholder="Example: 5000000"></textarea><br>

  <button (click)="addToKeysendsExcludeList()" type="button" class="add-item-button">
    Add Keysend
  </button>

  <div class="body button-helper-container">
    Paste the text from the "Amount" column of the bos invoices report.
  </div>

</div>
